[v-cloak] {
  display: none;
}

html {
  background-color: #EDEEF0;
}

body {
  background: #EDEEF0 !important;
}

a,
a:hover {
  color: #08c;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cb-footer-dot {
  margin: 0 2px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.sg_group_post_wrap {
  margin: 0 auto;
}

.sg_group_page {
  max-width: 743px;
  margin-top: 20px;
}

.sg_gp_post {
  background: #fff;
  min-width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 0 #dfe5ec;
  -moz-box-shadow: 0px 1px 0 #dfe5ec;
  box-shadow: 0px 1px 0 #dfe5ec;
  border-top: 1px solid transparent;
  border-left: 1px solid #dfe5ec;
  border-right: 1px solid #dfe5ec;
  border-bottom: 1px solid #d2dbe3;
  overflow: hidden;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.sg_gp_post_text {
  padding: 20px;
  padding-bottom: 0;
  line-height: 1.4;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 15px;
}

.sg_gp_block_no_comments {
  text-align: center;
  font-weight: 400;
  color: #a5a5a5;
  padding: 15px;
  font-size: 16px;
  margin: 20px;
}

.sg_gp_number {
  font-weight: 500;
  font-family: Roboto;
  margin-left: 5px;
}

.sg_gp_post_panel {
  padding: 10px 20px 15px 20px;
  color: #9b9b9b;
  font-size: 12px;
  font-family: Tahoma, sans-serif, Arial, Helvetica;
}

.sg_gp_post_panel .icon {
  margin-top: -2px;
}

.sg_gp_post_panel a {
  color: #9b9b9b !important;
}

.sg_gp_liked,
.sg_gp_date {
  color: #777 !important;
}

.sg_gp_delete {
  margin-left: 10px;
  display: none;
}

.sg_no_posts {
  font-size: 15px;
  font-weight: 500;
  color: #777;
  text-align: center;
  margin: 50px 0;
}

.sg_gp_block_comments {
  background: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 0 #dfe5ec;
  -moz-box-shadow: 0px 1px 0 #dfe5ec;
  box-shadow: 0px 1px 0 #dfe5ec;
  border-left: 1px solid #dfe5ec;
  border-right: 1px solid #dfe5ec;
  border-bottom: 1px solid #d2dbe3;
  overflow: hidden;
  padding: 0;
}

.cb-comments-wrap {
  padding: 10px 0 10px;
}

.cb-active-reply {
  background: #f5f5f5;
}

.control_comment {
  display: none;
}

.sg_gp_comment {
  padding: 7.5px 20px 7.5px 20px;
}

.sg_gp_comment:hover .control_comment {
  display: inline-block;
}

.sg_gp_comment_avatar {
  text-align: center;
  margin-right: 20px;
}

.sg_gp_comment_avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.bgcolor0 {
  background: #e17076;
}

.bgcolor1 {
  background: #faa774;
}

.bgcolor2 {
  background: #a695e7;
}

.bgcolor3 {
  background: #7bc862;
}

.bgcolor4 {
  background: #6ec9cb;
}

.bgcolor5 {
  background: #65aadd;
}

.bgcolor6 {
  background: #ee7aae;
}

.bgcolor7 {
  background: #6ec9cb;
}

.bgcolor8 {
  background: #faa774;
}

.sg_gp_comment_no_avatar {
  font-size: 20px;
  line-height: 46px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: block;
  font-family: Roboto;
  position: relative;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #fff;
  overflow: hidden;
}

.sg_gp_comment_no_avatar:before {
  content: attr(data-content);
  font-weight: 500;
}

.reply_to_comment {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
}

.reply_to_comment a {
  color: #6d6d6d;
}

.sg_gp_comment_body {
  margin-left: 65px;
  font-weight: 400;
  font-size: 13px;
}

.sg_gp_comment_user {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.sg_gp_comment_date {
  font-weight: 400;
  font-size: 13px;
  color: #999;
}

.sg_gp_comment_reply a {
  color: #999;
}

.sg_gp_comment_text {
  overflow: hidden;
  word-wrap: break-word;
  font-size: 13px;
  margin-top: 3px;
}

.comment_dot {
  font-size: 17px;
  line-height: 0.2;
  position: relative;
  top: 4px;
}

.sg_gp_comment_panel {
  margin-top: 4px;
  color: #9b9b9b;
  font-size: 13px;
  font-family: Tahoma, sans-serif, Arial, Helvetica;
  line-height: 1;
}

.sg_gp_comment_panel .sg_gp_likes:hover .icon {
  margin-top: -2px;
}

.comment_deleted {
  padding: 17px 0px 17px 65px;
  font-size: 13px;
}

.sg_gp_add_comments {
  max-width: 500px;
}

.textarea {
  font-size: 13px;
  line-height: 1.3;
  display: block;
  border: 0;
  border-bottom: 1px solid #d3dce4;
  padding: 20px;
  width: 100%;
  resize: none;
  color: #636c72;
  outline: none;
}

.add-panel {
  padding: 15px 20px;
  background-color: #fafbfc;
}

.sg_reply_info {
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
  color: #636c72;
}

.sg_reply_info a {
  color: #636c72;
}

.sg_auth_info {
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
  color: #636c72;
}

.sg_auth_info a {
  color: #636c72;
}

.sg-btn {
  border: none;
  background: #589bcf;
  color: #fff;
  padding: 9px 16px 9px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  line-height: 17px;
}

.sg-btn:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #4b85b2;
}

.sg-btn:focus {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #4577a0;
}

.popover {
  margin-top: -10px;
  line-height: 1.3;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.bs-popover-top .arrow {
  bottom: calc((0.5rem + 0px) * -1);
}

.bs-popover-top .arrow::before {
  border-top-color: #dfe5ec;
}

.cb-reply-wrap {
  margin: 20px 20px 0 20px;
}

.cb-reply {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dfe5ec;
  border-radius: 3px;
}

.cb-reply-info {
  margin-left: 55px;
  padding-top: 4px;
}

.cb-reply-user {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.cb-reply-userpic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cb-reply-date {
  font-weight: 400;
  font-size: 13px;
  color: #999;
  padding-top: 3px;
}

.cb-reply-body {
  overflow: hidden;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 10px;
}

.cb-support-link {
  margin-top: 80px;
  font-size: 16px;
}

/* edit comment */
/* popups */
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.modal-header {
  border: 0;
}

.modal-footer {
  border: 0;
}

@media (min-width: 500px) {
  .modal-content {
    padding: 1.5rem;
  }

  .modal-header {
    padding: 2rem 2rem 1rem;
    border: 0;
  }

  .modal-footer {
    border: 0;
    padding: 1rem 2rem;
  }

  .modal-body {
    padding: 1rem 2rem;
  }
}

@media (max-width: 500px) {
  .modal-body {
    padding: 0 1rem;
  }

  .modal-content {
    border: 0px;
    border-radius: 0;
  }

  .modal-dialog {
    margin: 0;
  }

  .cb-reply-wrap {
    margin: 0 13px 0 13px;
  }
}

.modal-footer .btn-link {
  margin-left: 0px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #08c;
}

.modal-footer .btn-link:hover {
  background: #e6f1f7;
  text-decoration: none;
}

.modal-footer .btn-link:active {
  background: #d4e6f1;
}

.modal-footer .btn-link:focus {
  text-decoration: none;
}

.btn.disabled,
.btn[disabled],
.modal-footer .btn-link.disabled,
.modal-footer .btn-link[disabled] {
  color: #b5d1e6;
  opacity: 1;
}

.input {
  white-space: pre-wrap;
  position: relative;
  z-index: 0;
}

input.tr-form-control,
textarea.tr-form-control,
.input.tr-form-control {
  padding-left: 0;
  padding-right: 0;
  border: none;
  height: auto;
  resize: none;
  box-shadow: inset 0 -1px 0 #e0e0e0;
  transition: box-shadow 0.2s ease, color 0.2s ease;
  font-size: 15px;
  line-height: 1.3;
  display: block;
  border: 0;
  width: 100%;
  color: #636c72;
  outline: none;
}

input.tr-form-control:focus,
textarea.tr-form-control:focus,
.input.tr-form-control:focus {
  box-shadow: inset 0 -2px 0 #39ade7;
}

.sg_footer {
  font-size: 13px;
  color: #636c72;
  padding: 10px;
  text-align: center;
}

.cb-created-via {
  font-weight: 500;
  margin-bottom: 5px;
}

.sg_page {
  margin: 60px auto 60px;
  max-width: 590px;
  text-align: center;
}

.sg_top_logo {
  margin: 40px auto 0;
  text-align: center;
}

.sg_top_logo a:hover {
  text-decoration: none;
}

.sg_main_logo {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sg_main_title {
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto;
  color: #6d6d6d;
}

.sg_top_text {
  font-size: 20px;
  line-height: 148%;
  max-width: 385px;
  margin: 0 auto;
  color: #8c8c8c;
  text-align: center;
  padding: 1px 0 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
}

a.sg_action_button {
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  background: #579bcf;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
}

a.sg_action_button:hover,
a.sg_action_button:active {
  color: #fff;
  background: #5490c1;
  text-decoration: none;
}

.sg_btn_index {
  padding: 50px 0;
}

.sg_load {
  font-size: 13px;
  background: #f7f7f7;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  color: #8a8a8a;
  border-bottom: 1px solid #e0e0e0;
}

.sg_load:hover {
  cursor: pointer;
}

#stl_left {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

#stl_left .down {
  background-position: left -15px;
}

#stl_left .back {
  background-position: left -30px;
}

#stl_left.over,
#stl_left:hover {
  text-decoration: none;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

#stl_text {
  display: block;
  height: 15px;
  color: #466a94;
  font-size: 12.5px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 19px;
  padding: 0 24px;
  background: url("/img/toplink.png") no-repeat;
  background-position: left 0;
}

#stl_bg {
  height: 100%;
  width: 114px;
  padding-top: 20px;
  opacity: 0.5;
  -o-transition: background-color 200ms linear, opacity 200ms linear;
  transition: background-color 200ms linear, opacity 200ms linear;
}

.stl_active {
  cursor: pointer;
}

.stl_active.over_fast #stl_bg {
  background-color: #dce2e8;
}

.stl_active.over #stl_bg,
.stl_active:hover #stl_bg {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.center_margin {
  text-align: center;margin: 0 5px 40px 5px;
}

.login_frame {
  border: medium none; overflow: hidden; height: 42px; width: 229px;
}

.beta {
  font-size: 7px;
}

.comment_area {
  overflow: hidden; overflow-wrap: break-word; height: 75px;
}

@media (max-width: 768px) {
  .sg_head_logo {
    height: 36px;
    margin: 10px 15px 0;
  }

  .sg_group_page {
    max-width: 743px;
    margin-top: 20px;
  }

  .sg_group_post_wrap {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .sg_group_page {
    max-width: 743px;
    margin-top: 0px;
  }

  .sg_group_post_wrap {
    padding: 0;
  }

  .sg_gp_comment {
    padding: 7.5px 15px 7.5px 10px;
  }

  .textarea,
  .sg_gp_comment_user,
  .sg_gp_comment_text {
    font-size: 15px;
  }

  .sg_gp_comment_no_avatar {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }

  .sg_gp_comment_avatar img {
    width: 40px;
    height: 40px;
  }

  .sg_gp_comment_body {
    margin-left: 50px;
  }

  .sg_gp_comment_avatar {
    margin-right: 10px;
  }

  .control_comment {
    display: inline-block !important;
  }
}

@media (max-width: 640px) {
  .sg_page {
    margin: 60px auto 40px;
    max-width: 590px;
    padding: 0 22px;
  }

  .sg_page_text {
    display: block;
    width: auto;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .sg_gp_post {
    min-width: auto;
  }
}

@media (max-width: 430px) {
  .sg_gp_wrap {
    padding-top: 56px;
  }

  .sg_gp_post_wrap {
    padding-top: 10px;
  }
}
